.courses-main{
    width: 100%;
}
.courses-content{
    max-width: 1150px;
    margin-inline: auto;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(6, auto);
    padding: 40px;
}
.course-box{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.course-box:hover{
    transform: translateY(-10%);
}
.course-box p{
    font-weight: 700;
}

@media screen and (max-width: 1024px){
    .courses-content{
        grid-template-columns: repeat(3, auto);
    }
}
@media screen and (max-width: 500px){
    .courses-content{
        grid-template-columns: repeat(2, auto);
    }
}